<div class="page1">

  <% if @homepage_images.count > 0 %>
    <div class="row">
      <div class="col-md-12">
        <%= render partial: 'static/carousel', :locals => {:images => @homepage_images, :carousel_name => "homepage_carousel"} %>
      </div>
    </div>
  <% end %>

  <%= render partial: 'static/recipe_of_the_week', :locals => {:recipe => @recipe_of_the_week} %>
  <%= render partial: 'static/advertisment', :locals => {:advertisment => @advertisment, :left_image => (asset_path 'advertisment_homepage') } %>

  <img src="<%= asset_path 'section_blocks.jpg' %>" class="blocks-underground"/>

  <div class="push-up-280">
    <%= render partial: 'static/recipes_of_the_month' %>
  </div>

    <%= render partial: 'static/latest_news' %>

</div>
