<div class="top-menu" id="top_menu">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="row links-container">
        <div class="col-md-2 col-sm-4 links">
          <div class="title">
            <a href="<%= recipe_path %>">RECIPES</a>
          </div>
          <ul class="entries">
            <li><a href="<%= recipe_path %>#dish_types">DISH TYPE</a></li>
            <li><a href="<%= recipe_path %>#main_ingredients">MAIN INGREDIENT</a></li>
            <li><a href="<%= recipe_path %>#occasions">OCCASIONS</a></li>
            <li><a href="<%= recipe_path %>#meal_times">MEALS & COURSES</a></li>
          </ul>
        </div>
        <div class="col-md-2 col-sm-4 links">
          <div class="title">
            <a href="<%= root_path %>news">NEWS</a>
          </div>
          <ul class="entries">
            <li><a href="<%= root_path %>news#events">EVENTS IN TOWN</a></li>
            <li><a href="<%= root_path %>news#competitions">COMPETITIONS</a></li>
            <li><a href="<%= root_path %>news#interviews">INTERVIEWS</a></li>
            <li><a href="<%= root_path %>news#press">IN THE PRESS</a></li>
          </ul>
        </div>
        <div class="col-md-2 col-sm-4 links">
          <div class="title">
            <a href="<%= helpers_path %>">FEATURES</a>
          </div>
          <ul class="entries">
            <li><a href="<%= helpers_path %>#spices">SPICE RACK</a></li>
            <li><a href="<%= helpers_path %>#kitchen">KITCHEN HELPERS</a></li>
          </ul>
        </div>
        <div class="col-md-2 col-sm-4 links">
          <div class="title">
            <a href="<%= restaurants_path %>">RESTAURANTS</a>
          </div>
          <ul class="entries">
            <li><a href="<%= restaurants_path %>#">NEW SPOTS</a></li>
            <li><a href="<%= restaurants_path %>#">FAVORITE SPOT</a></li>
          </ul>
        </div>
        <div class="col-md-2 col-sm-4 links">
          <div class="col-md-2 col-sm-4 links">
            <div class="title">
              <a href="<%= root_path %>about">ABOUT</a>
            </div>
            <ul class="entries">
              <li><a href="<%= root_path %>about#contact">CONTACT</a></li>
            </ul>
          </div>
          <div class="close-action" id="menu_close"></div>
        </div>
      </div>
    </div>
  </div>
</div>
