<div class="row week-subscribe-container">
  <div class="col-md-10 col-md-offset-1">
    <div class="title">
      Recipe of the week
    </div>
  </div>
  <div class="col-md-6 col-md-offset-1">
    <% if recipe %>
      <div class="week-container">
        <div class="image">
          <img src="<%= recipe.horizontal_image.url %>" alt="<%= recipe.title %>" title="<%= recipe.title %>" />
        </div>
        <div class="label"><%= recipe.dish_types_concat %></div>
        <div class="name">
          <%= recipe.title %>
        </div>
        <div class="bottom">
          <div class="description">
            <%= recipe.description.html_safe %>
          </div>
          <div class="action-container">
            <a href="<%= recipe_detail_path(slug: recipe.slug) %>">
              <div class="action invert-button-colors">
                GET RECIPE
              </div>
            </a>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-md-4">
    <div class="subscribe-container">
      <div class="description">
        Get your fix of<br/>
        quick and delicious<br/>
        recipes, celebrity chef<br/>
        interviews, must have<br/>
        kitchen gadgets, foodie<br/>
        event around town,<br/>
        and discover new<br/>
        restaurants.
      </div>
      <div class="highlight">
        UNLEASH<br/>
        THE FOODIE<br/>
        IN YOU
      </div>
      <div class="title">
        HEAR ABOUT THE LATEST<br/>
        HAPPENING ON OUR SPACE
      </div>
      <a href="javascript:;" goto-newsletter="1">
        <div class="action invert-green-button-colors">
          SUBSCRIBE
        </div>
      </a>
    </div>
  </div>
</div>
