<div class="page7">

  <div class="row about-container">
    <div class="col-md-10 col-md-offset-1">
      <div class="row">
        <div class="col-md-12 title">
          About the author
        </div>
        <div class="col-md-6">
          <div class="short-description">
            <p>Farah Sawaf is a name you may recognize given her regular and multi-faceted participation within the U.A.E’s vibrant and ever-evolving culinary scene. A mother of three young boys under the age of seven-years-old, this dynamic mumpreneur launched Soul Communications, a lifestyle oriented PR & Marketing agency with a particular specialisation across the Food & Beverage sector.  Farah launched Soul in 2012 with the express intent of fusing her two twin passions in life of cuisine and entrepreneurship. In essence, she works hand-in-hand with stakeholders, collaborates with clients across the culinary spectrum- from supporting a young Chef striking out on his own independent concept to enabling a food distributor access to a more defined mix of customer segments. Soul Communications works with several well-known accounts including internationally renowned brands of the likes of Lakeland, Galeries Lafayette and Eggspectation through to home grown concepts such as RIPE, Sugarmoo and many more. She also currently works extremely close with world-renowned celebrity kids-chef Annabel Karmel, as well as handled accounts for Jamie Oliver and many more.</p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="image">
            <img src="<%= asset_path 'Farah_Sawaf.png' %>"/>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="long-description left">
            <p>
              In addition, her culinary website www.cookingwithamanicure.com has received widespread exposure across the U.A.E’s media spectrum. She writes a monthly article in Good Taste magazine entitled “Cooking with Farah” and continues to be well received amongst many other publications. Farah is also a regular contributor to titles such as BBC Good Food, Masala! , Gulf News, Friday Magazine, Aquarius, Emirates Woman, Gourmet and many more.  By way of www.cookingwithamanicure.com, Farah has interviewed a host of celebrity chefs including the Adria Brothers, Nobu, Jun Tanaka, Bobby Chinn, Atul Kochhar, Richard Sandoval, and numerous others. 
            </p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="long-description right">
            <p>
            She proves that cooking can be both easy as well as lots of fun: no matter how busy, unprepared and disorganised your life may be! As Cheryl Sandberg advocates and Farah Sawaf shows: women can indeed ‘lean in’ both at the workplace, in support of her family and remaining true to oneself. 
            </p>
            <br/>
            <br/>
            <span class="greeting">Happy Cooking,</span>
            <br/>
            <br/>
            <span class="author">Farah Sawaf</span>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div id="contact" class="row contact-container">
    <div class="col-md-10 col-md-offset-1">
      <div class="row">
        <div class="col-md-12">
          <div class="title">
            Contact
          </div>
        </div>
      </div>
      <%= form_tag("/contact", method: "post", :id => "contact_form") do %>
        <div class="row">
          <div class="col-md-6">
            <div class="name">FIRST NAME</div>
            <%= text_field_tag(:first_name,nil, :placeholder => "First Name") %>
          </div>
          <div class="col-md-6">
            <div class="name">LAST NAME</div>
            <%= text_field_tag(:last_name, nil, :placeholder =>"Last Name") %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="name">E-MAIL</div>
            <%= email_field_tag(:email, nil, :placeholder =>"Email") %>
          </div>
          <div class="col-md-6">
            <div class="name">PHONE</div>
            <%= text_field_tag(:phone_number, nil, :placeholder =>"Phone Number") %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="name">SUBJECT</div>
            <%= text_field_tag(:subject, nil, :placeholder =>"Subject") %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="name">MESSAGE</div>
            <%= text_area_tag(:message, nil, :placeholder =>"Message") %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 agreement-container">
            <%= hidden_field_tag(:newsletter, "0") %>
            <div
               class="tickbox"
               is-newsletter="1"
               data-img-selected="<%= asset_path "cwam-icons-checkbox-ticked.png" %>"
               data-img-notselected="<%= asset_path "checkbox" %>"></div>
            <div class="agreement">
              Please tick this box should you wish to receive future information related to Farah and her companies, e.g newsletters,
              product offers etc. We will not make your information available to any third parties.
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 action-container">
            <%= submit_tag("Submit", :id=> "submit_contact", :class => "invert-button-colors") %>
          </div>
        </div>

      <% end %>
    </div>
  </div>

</div>
