<div class="page10">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="row"><div class="col-md-12 title">
          <% if @have_recipes %>
            <% if !@filtered_by.empty? %>
              Filtered By: <%= @filtered_by %>
          <% else %>
            Filtered
          <% end %>
        <% else %>
          Sorry no results for <%= @filtered_by %>
      <% end %>
        </div>
      </div>
      <% if !@have_recipes %>
        <div class="row">
          <div class="col-md-12 inspire-container">
            <div class="name">
              Get inspired !
            </div>
            <div class="details">
              Check other recipes and add them to your recipe box!
            </div>
          </div>
        </div>
      <% end %>
      <div class="row recipes-container">
        <% @recipes.each do |recipe| %>
          <div class="col-md-3 col-sm-6">
            <div class="entry">
              <div class="image">
                <img src="<%= recipe.image.url %>"/>
              </div>
              <div class="name"><%= recipe.dish_types_concat %></div>
              <div class="description"><%= recipe.title %></div>
              <div class="action-container">
                <a href="<%= recipe_detail_path(slug: recipe.slug) %>"><div class="action invert-button-colors"> GET RECIPE</div></a>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
